html, body {
    margin: 0px;
    padding: 0px;
    background-color: #21222A;
    height: 100%;
}

#root {
    height: 100%;
} 

a:link {
    color : pink;
  }
  a:visited {
    color : white;
  }
  a:hover {
    color : red;
  }
  a:active {
    color : green
  }


.wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px auto auto 40px;
    gap: 0px;
}

.main-head {
    grid-column: 1 / 12 span;
    grid-row : 1 ;
    display: flex;
    align-items: center;
    background-color: #21222A;
    border: 2px solid #aaa;
}

.main-nav {
    grid-column: 3 / span 2;
    grid-row: 2 / span 2 ;
    display: flex;
    flex-direction: column;
    padding: 100px;
    background-color: #21222A;
    color: white;
    font-size: 15px;
    border: 2px solid #aaa;
}

.content {
    grid-column: 5 / span 4;
    grid-row: 2 / span 2 ;
    padding:57px 27px;
    color: white;
    background-color: #21222A;
    border: 2px solid #aaa;
}

.side {
    grid-column: 9 / span 2;
    grid-row: 2 / span 1 ;
    background-color: #21222A;
    color: white;
    font-weight: 600;
    font-size: 20px;
    border: 2px solid #aaa;
}

.ad {
    grid-column: 9 / span 2;
    grid-row: 3 / span 1 ;
    background-color: #21222A;
    color: white;
    font-weight: 600;
    font-size: 20px;
    border: 2px solid #aaa;
}

.main-footer {
    grid-column: 1 / span 12;
    grid-row: 4;
    background-color: #21222A;
    color: white;
    font-weight: 600;
    font-size: 20px;
    border: 2px solid #aaa;
}

.head--icon {
    height: 40px;
    margin: 10px;
}

.head--logo_text {
    margin-right: auto;
    color: #61DAFB;
    font-weight: 700;
    font-size: 20 px;
}

.head--title {
    color: #DEEBF8;
    font-weight: 600;
    font-size: 15px;
    margin: 30px;
}

.main-nav-item{
    text-align: center;
    margin-top: 40px;
}

.main--title {
    margin:0;
    font-size: 30px;
    letter-spacing: -0.05em;
}

.main--facts {
    margin-top: 46px;
}

.main--facts > li {
    line-height: 19px;
    padding-block: 10px;
    max-width: 400px;
}

.main--facts > li::marker {
    font-size: 1.4rem;
    color: #61DAFB;
}